/* Web Fonts from Google/fonts-------------------- */
/* font-family: 'Droid Serif', serif; */
/* font-family: 'Raleway', sans-serif; */

/* Color Family 
Dark Orange - #C63D0F
Dark Grey - #3B3738
Beige - #FDF3E7
Light Green - #7E8F7C
*/

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #3B3738; /* Text color for body */
  margin: 0;
  font: 1em/1.5 'Raleway', sans-serif;
}

h1,
h2 {
	font-family: 'Droid Serif', serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: #C63D0F;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 2px 2px 2px #000000;
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */

}

h2.linkStyle {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(198, 61, 15, 0.75);
  border-radius: 10px;
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}

h2.linkStyleSel {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(198, 61, 15, 0.75);
  border-radius: 10px;
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
	filter: blur(6px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

h3 { /* This includes picture captions */
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

.centerAlign {
	text-align: center;
}

img {
  border-radius: 10px;  
}

/*.selected {
	visibility: hidden;
} */

.selected img
{
	filter: blur(6px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

.selected img:hover
{
	filter: blur(0);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
}

.gallery img {
    display: block;
    max-width:640px;
    height: auto;
}

.gallery ul {
	list-style-type: none;
}

/* Lists ------------------ */

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

ul#imageGallery {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul#imageGallery li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul#imageGallery li img {
	display: block;
}

/* Links ------------------ */

a:link {
  color: #7E8F7C;
  text-decoration: none;
}

a:visited {
  color: coral;
}

a:hover {
  /* color: rgba(255, 169, 73, .7); */
  color: green;
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

#overlay {
  background:rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
}

#overlay p {
  color: #fff;
}

.name-header {
  padding-top: 15px;
  height: 230px;
  background: linear-gradient(#DF9F83, transparent);
  border-bottom: 2px solid #dfe2e6;
  background-size: cover;
  text-align: center;
}

.pic-content {
  height: 230px;
  width: 100%;
  padding-left: 11%;
}

#pic1 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smSquidGirl.png);
  border-radius: 10px; 
  background-size: cover;
  position: relative;
}

#pic2 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smMotivation.png);
  border-radius: 10px;
  background-size: cover;
  position: relative;
}

#pic3 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smRoses.png);
  border-radius: 10px; 
  background-size: cover;
  position: relative;
}

#pic4 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smMelt.png);
  border-radius: 10px;  
  background-size: cover;
  position: relative;
}

#pic5 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smGettingReady.png);
  border-radius: 10px;  
  background-size: cover;
  position: relative;
}

#pic6 {
  margin: 15px;
  width: 135px;
  height: 200px;
  float: left;
  background-image: url(../img/smYumE.png);
  border-radius: 10px;  
  background-size: cover;
  position: relative;
}

.pic-content-480 {
	display: none;
}


/* Layout Styles ------------------ */

.title { /* Art for your space. */
  color: #FDF3E7;
  font-size: 1.625rem;
  letter-spacing: .065em;
  font-weight: 200;
  text-shadow: 2px 2px 2px #000000;
  padding-bottom: 10px;
}

.primary-content {
  width: 75%;
  padding: 25px;
  margin: auto;
  max-width: 960px;
  border-bottom: 2px solid #dfe2e6;

}

.main-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #C63D0F;
  text-align: center;
  clear: both;
}

/*@media (max-width: 768px) { */
@media only screen and (max-width: 500px) {
	
  .title, .name-header {
	font-size: 1.2rem;
	height: 130px;
  }
  h1 {  
  	font-size: 1.5rem;
  }
  .pic-content {
	display: none;
  }
  h2.linkStyle {
	 display: none; 
  }
  .pic-content-480 {
	display: inherit;
  	height: 191px;
	padding: 15px;
	
  }

  #pic1sm, #pic2sm, #pic3sm, #pic4sm, #pic5sm, #pic6sm {
	margin: 0 auto 4px;
	width: 325px;
	height: 26px;
	border-radius: 3px; 
	background-size: cover;
	position: relative;
	border: 1px solid #000;
  }

.primary-content {
  padding: 0;
  border: none;
}

		
}
